body {
    background: #1B2473;
    color: #787878;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

article{
    margin: 3px 0  0  0;
    padding: 0;
    font-size: 13px;
    display: none;
}

p{
    margin: 3px 0  0  0;
    padding: 0;
    font-size: 13px;
    display: none;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

input {
    font-size: 28px;
    line-height: 36px;
    color: #787878;
    padding-left: 10px;
}

.form_main-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .form_main-container {

    }
}

.validate-icon{
    display: none;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
}
.validate-icon:after{
    color: #e32;
    content: ' *';

}
.form-label:after {
    margin: 0 0 3px 10px;
}

.form_tittle {
    font-size: 50px;
    line-height: 50px;
}

.form_input::placeholder {
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
}

.form_input:focus {
    border-color: #787878;
    outline: 0;
    box-shadow: 0 0 0 0.3rem rgba(158, 158, 158, 0.25);
}

.form {
    background: #fff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.form_wrapper-child:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-block {
    margin-top: 15px;
}

.form-block:not(:last-child) {
    display: flex;
    flex-direction: column;
}

.form_input {
    width: 500px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
}
.form_checkbox-span{
    text-decoration: underline;
}

.form_button {
    width: 180px;
    height: 52px;
    margin-top: 56px;
    background: #1A226B;
    border-radius: 10px;
    cursor: pointer;
}

.form_button span {
    font-size: 24px;
    line-height: 16px;
    color: #fff;
}

.form-block_checkbox {
    position: relative;
    align-items: center;
}
.form-block_position{
    display: flex;
    align-items: center;
}
.form_input-checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

.from_checkbox-mark {
    width: 24px;
    height: 24px;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 7px;
}
.from_checkbox-span{
    border-bottom: 1px solid #787878;
}

.form_input-checkbox:checked + .from_checkbox-mark {
    background: #1B2473;
}

.form-block_label {
    padding-left: 10px;
    font-size: 13px;
}

@media screen and (min-width: 769px) and (max-width: 1440px) and (orientation: portrait) {
    .form_main-container {
        margin-top: 50%;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {
    .form_main-container {
        display: inline;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .form_main-container {
        margin: 0;
        width: 100%;
        height: 97vh;
    }

    .form_input {
        width: 100%;
        font-size: 26px;
    }

    .from_checkbox-mark {
        width: 24px;
        height: 24px;
    }
    .form_input::placeholder {
        font-size: 25px;
    }
}
